.container{
    margin-top: 10rem;
}

h5, h6  {
    text-align: center;
}


h1{
    display: flex;
    justify-content: center;
}

#enlace{
    display: flex;
    justify-content: center;
}

.centrado{
    display: flex;
    justify-content: space-around;
    
}

.row{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.button-container{
    display: flex;
    justify-content: center;
}

.img-cart{
    width: 100%;
}

.agregar-carrito{
    display: flex;
    justify-content: center;    
}

.centrado-cart{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: red;
}


.show{
    display: flex;
    justify-content: center;
}

#carrito{
    width: 50%;
}
