.container{
    margin-top: 10rem;
}

h5, h6  {
    text-align: center;
}


h2{
    text-align: center;
}


.centrado{
    display: flex;
    justify-content: space-around;
    
}

.row{
    display: flex;
    justify-content: center;
    column-gap: 50px;
}

.button-container{
    display: flex;
    justify-content: center;
}


.centrado-cart{
    display: flex;
    justify-content: center;
}


